{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Login{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% static '/django_login/auth_style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static '/django_login/style.css' %}" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <script src="https://use.fontawesome.com/73fb701cc7.js"></script>
        <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>

        <script>
        $(document).ready(function() {
            $('[id^="list"]').click(function() {
                var id = $(this).attr('id').split('-')[1];
                $("#subjects-"+id).toggle();
            });
        });
        </script>
    </head>
    <body>   
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>