{% extends 'base.html' %}

{% block content %}
{% if validlink %}
    <div class="panel panel-default">
        <div class="panel-heading">Change password</div>
        <div class="panel-body">
            <form method="post">{% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    <p>{{field}}</p>
                    <p class="help-block">{{ field.help_text|safe }}</p>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                <span class="sr-only">Error:</span>
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
                <div class="form-group">
                     <input type="submit" class="btn btn-default btn-block" value="SUBMIT"/>
                </div>
            </form>
        </div>
    </div>
  {% else %}
  <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
  </p>
{% endif %}
{% endblock %}