{% extends 'base.html' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Reset password</div>
    <div class="panel-body">
        <form method="post">{% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="id_{{ field.name }}">{{ field.label }}</label>
                <input type="text" class="form-control" name="username" id="id_username" placeholder="Username" autocapitalize="none">
            </div>
            <div class="form-group">
                 <input type="submit" class="btn btn-default btn-block" value="RESET"/>
            </div>
        </form>
        <p class="text-center">Click <a href="{% url 'login' %}">here</a> to return to the login page.</p>
    </div>
</div>
{% endblock %}