{% extends "base.html" %}

{% block content %}
<h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>

{% for list in lists %}
    <div>
        <div id="list-{{ list.id }}">
            {{list.title}}
        </div>
        <form action="{% url 'bookmarks:links' %}" method="get">
            <div id="subjects-{{ list.id }}" style="display:none;">
                {% for subject in list.subject.all %}
                    <button type="submit" name="subject" value="{{ subject.id }}">
                        {{ subject.title }}
                    </button>
                {% endfor %}
            </div>
        </form>
    </div>

{% endfor %}

<p>Click <a href={% url 'logout' %}>here</a> to log out.</p>
{% endblock %}