{% extends "base.html" %}

{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">Lists for {{ user.username }}</div>
    <div class="list-group">
    {% for list in lists %}
        <button class="list-group-item" id="list-{{ list.id }}">{{list.title}}</button>
        <div class="list-group" id="subjects-{{ list.id }}" style="display:none;">
            <form action="{% url 'bookmarks:links' %}" method="get">
                {% for subject in list.subject.all %}
                    <button type="submit" class="list-group-item" name="subject" value="{{ subject.id }}">
                        {{ subject.title }}
                    </button>
                {% endfor %}
            </form>
        </div>
    {% endfor %}
    </div>
</div>

<p>Click <a href={% url 'logout' %}>here</a> to log out.</p>
{% endblock %}