{% extends "base.html" %}

{% block content %}
<h1>Lists for {{ user.username }}</h1>
<div class="list-group">
{% for list in lists %}
    <button class="list-group-item" id="list-{{ list.id }}"><h3>{{list.title}}</h3></button>
    <div class="list-group" id="sections-{{ list.id }}" style="display:none;">
        {% for section in list.section.all %}
            <a href="{% url 'bookmarks:links' section.id %}" class="list-group-item">{{ section.title }}</a>
        {% endfor %}
        <nav class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'bookmarks:add_section' list.id %}"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add section to <strong>{{list.title}}</strong></a></li>
            </ul>
        </nav>
    </div>
{% endfor %}
</div>
<nav class="navbar">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'bookmarks:add_list' %}">Add list</a></li>
        <li><a href={% url 'logout' %}>Logout</a></li>
    </ul>
</nav>

{% endblock %}