{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

    {% for link in links %}
        <div>
            <div>
                <a href="{{ link.url }}">{{ link.display_text }}</a>
            </div>
            <div>
                {{ link.notes }}
            </div>
        </div>
    {% endfor %}
    <a href={% url 'bookmarks:home' %}>Back</a> 

{% else %}
    <p>Did you want the login page? If so click <a href={% url 'login' %}>here</a>.</p>
{% endif %}
{% endblock %}